<%- include('./partials/header.ejs') %>
    <main>
        <section>
            
      

            <% test.forEach((tests)=>{ %>
            <h3><%= test.question %> </h3>
            <p><%= test.answer1 %> <%= test.answer2 %> <%= test.answer3 %> <%= test.answer4 %></p>
            <%  }) %>

        </section>
    </main>
<%- include('./partials/footer.ejs') %>