



<%- include("./partials/header.ejs") %>

    <main>
        <h1>WELCOME TO THE MAIN PAGE!</h1><br>
        <h2>Quizzes that are available rigth now:</h2>
        <div class="listQuizzes">
        <% tests.forEach((test) => { %>
            <div class="quizContainer">
                <strong><p><%= test.question %> </p></strong>
                <p>A. <%= test.answer1 %> </p>
                <p>B. <%= test.answer2 %> </p>
                <p>C. <%= test.answer3 %> </p>
                <p>D. <%= test.answer4 %> </p>
            </div>
         <% }) %>
        </div>
     </main>
    

<%- include("./partials/footer.ejs") %>
