<%- include('./partials/header.ejs') %>
    <main>
        <section>
            
      

            <% tests.forEach((tests)=>{ %>
            <h3><%= tests.question %> </h3>
            <p><%= tests.answer1 %> <%= tests.answer2 %> <%= tests.answer3 %> <%= tests.answer4 %></p>
            <%  }) %>

        </section>
    </main>
<%- include('./partials/footer.ejs') %>