<%- include('./partials/header.ejs') %>
<main>
    <section>



        <div class="tests content">
            <h2>Todos los Tests</h2>
            <% if (tests.length > 0) { %>
            <% tests.forEach(test => { %>

            <h3 class="title"><%= test.question %></h3>
            <ol>

                <li><input type="radio" name=<%= test.question %>>
                    <label for="answer1"> <%= test.answer1 %> </label></li>
                <li><input type="radio" name=<%= test.question %>>
                    <label for="answer2"> <%= test.answer2 %> </label></li>
                <li><input type="radio" name=<%= test.question %>>
                    <label for="answer3"> <%= test.answer3 %> </label></li>
                <li><input type="radio" name=<%= test.question %>>
                    <label for="answer4"> <%= test.answer4 %> </label></li>
                <button>< name=<%= test.solution %>>
                    <label for="test.solution"> <%= test.solution %> </label></button>



            </ol>



            <% }) %>
            <% } else { %>
            <p>No hay nada que mostrar...</p>
            <% } %>

        </div>


        <div class="user content">
            <h2>Users</h2>
            <% if (users.length > 0) { %>
            <% users.forEach(user => { %>

            <h3 class="title"><%= user.name %></h3>
            <ol>

                <li><input type="radio" name=<%= user.name %>>
                    <label for="name"> <%= user.name %> </label></li>
                <li><input type="radio" name=<%= user.name %>>
                    <label for="email"> <%= user.email %> </label></li>
                <li><input type="radio" name=<%= user.test %>>
                    <label for="password"> <%= test.password %> </label></li>
                <li><input type="radio" name=<%= test.name %>>
                    <label for="age"> <%= user.age %> </label></li>
              

    </section>
</main>
<%- include('./partials/footer.ejs') %>